body {
  background-color: #FDFDFD;
}

.container {
  max-width: 720px;
}

.title {
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.subtitle {
  font-family: 'Hind Vadodara', sans-serif;
  font-style: italic;
  text-align: center;
}

.new-attendee {
  margin-top: 20px;
  margin-bottom: 20px;
}

.remove-attendee,
.remove-person {
  color: red;
  float: right;

  &:hover, &:visited, &:active {
    color: red;
  }
}

.hidden {
  display: none;
}
