.new-attendee {
  margin-top: 20px;
  margin-bottom: 20px;
}

.remove-attendee,
.remove-person {
  color: red;
  float: right;

  &:hover, &:visited, &:active {
    color: red;
  }
}

.hidden {
  display: none;
}
